<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thinkpad.myfirstapp" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        /* TITLE SCREEN */
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        /* MENU SCREEN*/
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.MyActivity" />
        </activity>
        /* MENU 1: WEATHER ACTIVITY */
        <activity
            android:name=".WeatherActivity"
            android:label="@string/title_activity_weather"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        /* MENU 2:  ADD A PLANT ACTIVITY */
        <activity
            android:name=".AddPlant"
            android:label="@string/title_activity_button_add_a_new_plant"
            android:parentActivityName=".DisplayMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.DisplayMessageActivity" />
        </activity>
        <activity
            android:name=".AddTemperate"
            android:label="@string/title_activity_add_moss"
            android:parentActivityName=".AddPlant"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
        <activity
            android:name=".AddDesert"
            android:label="@string/title_activity_add_conifer"
            android:parentActivityName=".AddPlant"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
        <activity
            android:name=".AddCool"
            android:label="@string/title_activity_add_flowering"
            android:parentActivityName=".AddPlant"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
        <activity
            android:name=".AddTropical"
            android:label="@string/title_activity_add_fern"
            android:parentActivityName=".AddPlant"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
        /*((((((((((END ADD PLANT OPTIONS)))))))))))))*/

        /* WATERING SCHEDULE ACTIVITY */
        <activity
            android:name=".WateringScheduleActivity"
            android:label="@string/title_activity_water_schedule"
            android:parentActivityName=".DisplayMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
        /* PLANT LIST ACTIVITY */
        <activity
            android:name=".PlantListActivity"
            android:label="@string/title_activity_plant_list"
            android:parentActivityName=".DisplayMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
        <activity
            android:name=".CoolPopUp"
            android:label="@string/title_activity_cool_pop_up"
            android:parentActivityName=".AddCool"
            android:theme="@style/AppTheme.CustomeTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddCool" />
        </activity>
        <activity
            android:name=".DesertPopUp"
            android:label="@string/title_activity_desert_pop_up"
            android:parentActivityName=".AddDesert"
            android:theme="@style/AppTheme.CustomeTheme" >
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddDesert" />
        </activity>
        <activity
            android:name=".TemperatePopUp"
            android:label="@string/title_activity_temperate_pop_up"
            android:parentActivityName=".AddTemperate"
            android:theme="@style/AppTheme.CustomeTheme" >
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddTemperate" />
        </activity>
        <activity
            android:name=".TropicalPopUp"
            android:label="@string/title_activity_tropical_pop_up"
            android:parentActivityName=".AddTropical"
            android:theme="@style/AppTheme.CustomeTheme" >
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddTropical" />
        </activity>

        /**************************************************************/
        /*******TESTING STUFF******************************************/
        /**************************************************************/
        <activity
            android:name=".test.TestAddAPlant"
            android:label="@string/title_activity_test_add_aplant"
            android:theme="@style/AppTheme.NoActionBar" >
    </activity>




    </application>

</manifest>
