<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thinkpad.myfirstapp" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.MyActivity" />
        </activity>
        <activity
            android:name=".WeatherActivity"
            android:label="@string/title_activity_weather"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddPlant"
            android:label="@string/title_activity_button_add_a_new_plant"
            android:parentActivityName=".DisplayMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.DisplayMessageActivity" />
        </activity>
        <activity
            android:name=".AddMoss"
            android:label="@string/title_activity_add_moss"
            android:parentActivityName=".AddPlant"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
        <activity
            android:name=".AddConifer"
            android:label="@string/title_activity_add_conifer"
            android:parentActivityName=".AddPlant"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
        <activity
            android:name=".AddFlowering"
            android:label="@string/title_activity_add_flowering"
            android:parentActivityName=".AddPlant"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
        <activity
            android:name=".AddFern"
            android:label="@string/title_activity_add_fern"
            android:parentActivityName=".AddPlant"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinkpad.myfirstapp.AddPlant" />
        </activity>
    </application>

</manifest>
